button {
  background: none;
  outline: none;
  border: none;
  padding: 5px 8px;
  background-color: rgba(0,0,0,1);
  color: #fafafa;
}

button.playbackrange {
  position: relative;
}

div.speed-menu {
  position: absolute;
  width: 100%;
  bottom: 22px;
  left: 0;
  display: block;
  opacity: 0;
  transition: opacity .3s ease-in;
}

div.speed-menu span {
  display: block;
  background: orange;
  width: 100%;
  margin: 3px 0;
  padding: 3px 0;
  cursor: pointer;  
}

button.playbackrange:hover div.speed-menu {
  opacity: 1;
  transition: opacity .3s ease-in;
  
}

div.speed-menu span:hover {
  font-weight: bold;
  background: darken(orange, 10%);
}


p#text-track span {
  transition: all .5s ease-in;
  color: black;
}
p#text-track span:hover {
  color: orange;
  cursor: pointer;
  transition: all .3s ease-in;
}