/**************************
	EXTENDS
---------------------------
***************************/
%makeflex {
  @include align-items(center);
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include flex-wrap(wrap);
  @include align-content(center);
}

%makeresponsive {
  max-width: 100%;
}

%centered-text {
  text-align: center;
}

%uppercase {
  text-transform: uppercase;
}

%centered-container {
  margin: 0 auto;
}

%resetmp {
  margin: 0;
  padding: 0;
}

%columns {
  width: 50%;
}
